@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200&family=Syne+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

.logo img {
    padding: 0 15px;
    width: 168px;
    height: 90px;
}

.logobuttons {
    background-color: #3da2c4;
    display: flex;
    justify-content: space-between;
}

div.btn {
    display: flex;
    align-items: center;
    max-width: 200px;
    width: 170px;
    margin: 0 85px;
}

div.btn input {
    width: 86px;
    height: 28px;
    background-color: #a6e9ff;
    border-radius: 2px;
    cursor: pointer;
    margin: 0 6px;
}

div.sreachbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #a2daed;
    height: 40px;
}

.sreachbar label {
    display: flex;
}

.sreachbar input.sreach {
    width: 30vw;
    border: none;
    height: 23px;
    background-color: #e3f8ff;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 5px;
}

div.sreachbar input.bton {
    width: 58px;
    height: 23px;
    background-color: #e3f8ff;
    border-radius: 8px;
    cursor: pointer;
    border: hidden;
    letter-spacing: 1.187px
}

div.list ul {
    display: flex;
    list-style-type: none;
}

div.list ul li a {
    margin: 0 7px;
    text-decoration: none;
    color: #285278;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    font-weight: 900;
    /* display: flex; */
}
 /* ---------------------------- */
div.btn input:hover{
background: #7cbaf0;
}
div.sreachbar label input:hover{
    background: #7cbaf0;
}
div.list ul li a:hover{
    background: #7cbaf0;
}