@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200&family=Syne+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

.logo img {
    width: 174px;
    height: 83px;
}

.logobuttons {
    background-color: #3da2c4;
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
    height: 80px;
    ;
}

div.btn {
    display: flex;
    margin: 40px 51px;
    max-width: 321px;
    width: 133px;
}

div.btn input {
    width: 86px;
    height: 28px;
    background-color: #44b4da;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 6px;
}

div.sreachbar {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    background-color: #a2daed;
    height: 40px;
}

.sreachbar label {
    
    padding: 12px 0;
    display: flex;
}

.sreachbar input.sreach{
    width: 310px;
    border: none;
    height: 23px;
    background-color: #e3f8ff;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 5px;
}

div.sreachbar input.bton {
    width: 58px;
    height: 23px;
    background-color: #e3f8ff;
    border-radius: 8px;
    cursor: pointer;
}
div.list ul {
    display: inline-flex;
    list-style-type: none;
    margin: 13px 0;
}

div.list ul li a{
    margin: 12px;
text-decoration: none;
color: #285278;
font-family: 'Outfit', sans-serif;
font-size: 16px;
line-height: 0;
letter-spacing: 0.0;
font-weight: bolder;
font-weight: 900;
/* display: flex; */
}
